.container-favorites{
  padding-bottom: 20vh;
  padding-top: 20vh;
}

.title-favorites{
  display: flex;
  justify-content: center;
}
.card-favorites{
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 60px 20px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  justify-content: center;
  align-items: stretch;
}

