html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* HEADER ------------------*/
.container-header {
  background-color: #0e2a33;
  display: flex;
  align-items: center;
  width: 100%;
  height: 13vh;
  margin: 0;
  position: fixed;
  gap: 10px;
  z-index: 1000;
}
.container-header p {
  cursor: default;
}

img {
  height: 10vh;
}

.container-logo {
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.container-button {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 5vw; 
  flex-wrap: wrap;
}

.btn-header {
  background-color: #ffffff;
  border: none;
  color: #007bc7;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  
}

.btn-header:hover {
  opacity: 0.9;
  box-shadow: 0 4px 5px rgba(85, 163, 199, 0.5);
}

.user-avatar{
  color: #ffffff;
  display: flex;
  gap: 0.5vw;
  font-weight: bold;
  cursor: pointer;
  
}

.btn-avatar{
  background-color: transparent;
  border:none;
}

div.avatar{
  background-color: #39AFE5;
}

div.avatar:hover{
  cursor: pointer;
  background-color: #227095;
}

/*------------- ESTILOS POPOVER ------------*/
.popover {
  position: relative;
  display: inline-block;
}

.popover-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  width: 250px;
  max-width: 90vw;
  z-index: 100;
}

.popover-content p {
  margin: 0 0 1rem; /* Espaciado entre párrafos */
  color: #333;
  font-size: 0.875rem;
}

.popover-content button {
  display: block;
  width: 100%;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.popover-content .btn-admin {
  background-color: #39AFE5;
  color: white;
  margin-bottom: 10px;
}

.popover-content .btn-admin:hover {
  background-color: #172432;
}

.popover-content .btn-logout {
  background-color: #dc3545;
  color: white;
}

.popover-content .btn-logout:hover {
  background-color: #c82333;
}

.popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 50;
}


/* MAIN ------------*/
.container-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

/* ----------- ESTILOS SECCION SEARCH ---------- */
.container-search {
 background-image: url("/public/img/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  
}

.container-search p {
  margin-top: 20vh;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 
    1px 1px 0 rgba(128, 128, 128, 0.8), /* Contorno en el lado inferior derecho */
   -1px -1px 0 rgba(128, 128, 128, 0.8), /* Contorno en el lado superior izquierdo */
    1px -1px 0 rgba(128, 128, 128, 0.8), /* Contorno en el lado superior derecho */
   -1px 1px 0 rgba(128, 128, 128, 0.8); /* Contorno en el lado inferior izquierdo */
}

.input-search {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

.input-search::placeholder{
 font-size: small;
 color: black;
 text-align: left;
}

input::placeholder {
  text-align: center;
}

.btn-search {
  color: #ffffff;
  background-color: #39afe5;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  width: 103px;
  height: 42px;
}

.btn-search:hover {
  opacity: 0.9;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ------------ SECCION EXPERIENCIAS-----------------------*/

.container-categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp{
 border-bottom: 5px solid #c18a29;
  margin-right: auto;
  color: #0e2a33;
 font-size: 3rem;
  padding-left: 5vw;
  }

  .subtitle-exp{
    color: #8aa5ac;
    margin-right: auto;
    padding-left: 5vw;
    margin-top: -2vh ;
    font-size: 1.3rem;
  }

.card-categories {
  display: flex;
  padding: 2rem;
  gap: 15px;
}

/* -------- card categorias -------------*/
.container-card-categories{
  background-color: rgba(246, 238, 238, 0.5);
  border-radius: 15px;
}
.img-card-categories{
  height: 35vh;
  width:100%;
  border-radius: 15px;
  z-index: 100;
}

.title-card-categories{
  margin-left: 1vw;
}

/*--------------- SECCION OFERTAS ESPECIALES ----------------------------*/

.container-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #aca18a;
  margin-right: 5vw;
}

.offers {
  border-bottom: 5px solid #c18a29;
  margin-left: auto;
  color: #0e2a33;
  font-size: 3rem;
  padding-left: 5vw;
}
.subtitle-offers{
  color: #8aa5ac;
  margin-top: -1vh;
  margin-left:10vw;
  font-size: 1.3rem;
  
}
.container-card-tour{
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 60px 0px ;
  padding-bottom: 10vh;
}

/* ----------- CARD TOUR-----------------*/


.card-tour {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color:   #ffa20129;
  width: 100%;
  max-width: 300px; 
  border-radius: 15px;
  padding-bottom: 10px;
  margin-left: 4vw;
}

.title-card-tour {
  margin-left: 10px;
  color: rgba(118, 126, 134, 1);
  font-size: large;
}

.subtitle-card-tour {
  color: #0e2a33;
  margin-top: -5px;
  margin-left: 10px;
  font-size: small;
}

.img-card-tour {
  width: 100%; 
  height: 40vh;
  border-radius: 15px;
}

.price-card-tour {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(118, 126, 134, 1);
}

.price-card-tour p {
  font-size: small;
}

.price {
  color: rgba(57, 175, 229, 1);
  font-weight: bold;
  font-size: 30px;
}

.btn-card-tour {
  background-color: #ffa20129;
  color: #007bc7;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 100%; 
  text-align: center;
  max-width: 150px; 
  box-sizing: border-box; 
  
  margin-top: auto;
}



/* ------------------- ESTILOS FOOTER ---------------- */
.container-footer {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  padding: 10vh;
  background-color: #172432;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  gap: 5vw;
  
}

.copyright {
  width: 29vw;
  display: flex;
  margin-left: 10vw;
  gap: 15px;
}

.logo-footer {
  width: 5vw;
  height: 10vh;
}

.footer-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  gap: 10px;
  margin-right: 15vw;
}

.ul-footer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.iconos {
  display: flex;
  gap: 10px;
}

.iconos img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.info {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

/*PAGINA DETALLE*/
/*PAGINA DETALLES */

.container-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
}

.container-detail h4 {
  margin-top: 20vh;
  width: 80vw;
  font-size: 2rem;
  margin-right: 10vw;
}
/*---------------------      SECCION  1    ----------------------*/

/*----  DIV QUE CONTIENE TITULO E IMAGENES -----*/

.section-one {
  height: max-content;
  margin-top: 3vh;
}

.img-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-big {
  width: 150%;
  max-width: 100%;
  height: 21vh;
}

.container-img-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 15.56vh;
}

.img-small {
  width: 35vw;
  max-width: 100%;
  height: 10vh;
}

/*----  DIV QUE CONTIENE TEXTO Y CARD BOOKING -----*/

.info-booking {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.info-booking p {
  color: #8aa5ac;
  font-size: small;
}

.prince-info-booking {
  color: #007bc7;
  font-weight: bold;
}

.btn-text {
  border: 1px solid black;
  border-radius: 5px;
  color: #007bc7;
  background-color: #ffffff;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 5px;
}

.card-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgba(193, 138, 41, 0.1);
  box-shadow: 1px 1px rgba(0, 0, 0, 1);
  height: max-content;

  border: 2px solid #0e2a33;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.card-booking input {
  border: none;
  border-radius: 5px;
}

.info-card-booking {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #0e2a33;
  border-radius: 30px;
  padding: 15px;
  padding-top: 30px;
}

.description-card-booking{
  font-weight: bold;
  
}

.description-card-booking-two{
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
}



.btn-card-booking {
  border: none;
  border-radius: 10px;
  background-color: #c18a29;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

/*---------------------      SECCION  2    ----------------------*/
.section-two {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding-bottom:10vh ;
}
.link-home {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.property {
  border-top: 2px solid #b3b3b3;
  text-align: left;
  top: -1px;
  width: 100%;
}
.property-list li {
  font-size: 12px;
  font-weight: 900;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}
.travel {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 10px;
}
.travel h3 {
  text-align: center;
}
.intinerary {
  padding: 0;
  width: 250px;
}
.intinerary-list li {
  font-size: 11px;
  font-weight: 300;
  list-style-type: decimal;
  margin-left: -25px;
  padding: 0;
}
.map {
  margin-top: 25px;
}

.map img {
  height: 280px;
  width: 250px;
}

.btn-back{
  width: 10vw;
  height: 5vh;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #007bc7;
  cursor: pointer;

}




/*-------------------------     MEDIAS QUERYS      --------------------*/
/* /-------------------------     MEDIAS QUERYS      --------------------/ */


/* Dispositivos muy pequeños */
@media (min-width: 320px) and (max-width: 375px) {
  .container-header{
    height: 15vh;
    width: 100%;
    
  }
  .container-logo{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 3vh;
  }
  .container-logo p {
    font-size: 12px;
  }
 .img-logo {
    height: 5vh;
    margin-top: -5vh;
  }
  .container-button{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-right: 12vh;
  }
  .btn-header{
    width: min-content;
    font-size: 10px;
  }
  .container-search {
    height: 50vh;
    padding-top: 10vh;
  }
  .container-search p {
    color: white;
    font-size: 1.5rem;
  }

  .img-card-categories{
    height: 20vh;
  }

  .container-offers {
    height: 3vh;
    margin-bottom: 25px;
    max-width: 100%;
    margin-top: 125vh;
  }
  h3.offers {
    font-size: 1.2rem;
    margin-right: -20vw;
    margin-top: 10vh;
    width: 70vw;
  }
  p.offers {
    margin-top: 85px;
    width: 250px;
  }
  
  .container-card-tour {
    display: grid;
    margin-left: -4vw;
    gap: 10vw;
  }

  .card-tour{
    width: 48vw;
  }

  .info-card-tour{
    display: flex;
    flex-direction: column;
    gap: 18vh;
   }
  .img-card-tour {
    height: 200px;
    width:48vw;
  }
  .subtitle-card-tour {
    display: none;
  }
  .price-card-tour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    margin-top: -12vh;
    width: 90%;
  }
  .price {
    font-size: 0.9rem;
  }
  .btn-card-tour {
    margin-left: -5px;
    margin-top: 25px;
  }
  .container-img-small{
    visibility: hidden;
  }
  .img-big{
   margin-left: 23%;
  }
  .info-booking{
    flex-direction: column;
    gap: 10px;
  }

  .container-footer{
    margin-top: 130vh;
  }
  .footer-columns{
    display: none;
    width: 100%;
  }
  .logo-footer{
    margin-top: 8vh;
    height: 10vh;
    width: 20vw;
  }
  .btn-detail{
    padding-bottom: 10vh;
   }
  .btn-back{
    margin-left: 50vw;
  }
}

/* Dispositivos pequeños */
@media (min-width: 376px) and (max-width: 424px) {
  .container-header{
    height: 18vh;
    width: 100%;
  }
  .container-logo{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
 .img-logo {
    height: 8vh;
    margin-top: -25px;
  }
  .container-search p {
    color: white;
    font-size: 1.5rem;
  }
  .container-button{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-right: 6vh;
  }
  .btn-header{
    width: min-content;
  }
  .container-search {
    height: 50vh;
    padding-top: 10vh;
  }
  .container-offers {    
    max-width: 100%;
    height: 7vh;
    margin-top: 125vh;
  }


  .container-card-tour {
    margin-left: 1vw;
    margin-top: 1vh;
    display: grid;
  
    gap: 8vw;
  }
  .card-tour{
    width: 45vw;

  }
  .img-card-tour {
    width: 45vw;
    height: 250px;
  }

 .info-card-tour{
  display: flex;
  flex-direction: column;
  gap: 12vh;
 }
  .subtitle-card-tour {
    display: none;
  }
  .price-card-tour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
    margin-top: -10vh;
    
  }
  .price {
    font-size: 1rem;
  }

  .container-detail h4{
    margin-top: 25vh;
  }

  .container-footer{
    margin-top: 150vh;
  }
  .footer-columns{
    display: none;
    width: 100%;
  }
  .logo-footer{
    margin-top: 8vh;
    height: 10vh;
    width: 20vw;
  }
  .btn-back{
    margin-left: 50vw;
  }
  .btn-detail{
    padding-bottom: 10vh;
   }
}

/* Dispositivos medianos */

@media (min-width: 425px) and (max-width: 768px) {
  .container-header{
    height: 15vh;
    width: 100%;
  }

 .img-logo {
    height: 8vh;
  }
  .container-search p {
    color: white;
    font-size: 1.4rem;
    height: 10vh;
  }
   .container-button{
   margin-right: 6vh;
  }
  
  .contairner-offers {
    max-width: 100%;
  }

 .contairner-card-tour {
    margin-left: 0px;
    margin-top: -3vh;
  }
  .subtitle-card-tour {
    display: none;
  }
  .price {
    font-size: 1rem;
  }
  .price-card-tour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5px;
  }
  .img-card-tour {
    
    height: 250px;
  }
  .btn-card-tour {
    margin-left: -5px;
  }
  .footer-columns{
    display: none;
    width: 100%;
  }
  .logo-footer{
    margin-top: 8vh;
    height: 10vh;
    width: 13vw;
  }
  
  .img-small{
    width: 25vw;
  }
  .btn-back{
    margin-left: 50vw;
  }
  .btn-detail{
    padding-bottom: 10vh;
   }

}
/* Dispositivos grandes */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  .container-detail h4 {
    margin-top: 25vh;
    font-size: 1.5rem;
    margin-left: -10vw;
  }
  .section-one {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding-left: 25px;
    padding-right: 15px;
    gap: 8vw;
  }
  .container-img-small{
    width: 50vw;
    height: 60vh;
  }

  .img-small{
    height: 18vh;
  }
  .img-big {
    width: 50vw;
    height: 40vh;
    ;
  }
  .info-booking {
    margin-left: -7vw;
  }

  .section-two {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    
    
  }
  .property {
    text-align: left;
  }
  .property-list li {
    font-size: 1rem;
  }
  .travel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    
  }
  .travel h3 {
    font-size: 2rem;
    text-align: center;
  }
  .itinerary {
    padding: 0;
    width: 250px;
    }
  .itinerary-list li {
    font-size: 1rem;
    font-weight: 300;
    list-style-type: decimal;
    margin-left: -25px;
    padding: 0;
  }
  .map {
    margin-top: 25px;
  }
  .map img {
    height: 60vh;
    width: 40vw;
  }
  .container-footer{
    display: flex;
    justify-content: center;
  }

  .footer-columns{
    
    width: 100%;
  }
  .logo-footer{
    margin-top: 8vh;
    height: 10vh;
    width: 10vw;
  }

  .btn-back{
      margin-left: 60vw;
    }

   .btn-detail{
    padding-bottom: 10vh;
   }



 
}
/* Dispositivos muy grandes */
@media screen and (min-width: 1025px) {
  /* Estilos generales para pantallas grandes */
  .container-search{
    width: 105%;
  }
  /* Sección de detalles */
  .container-detail h4 {
    
    font-size: 2rem;
    margin-left: 0;
  }
  .section-one {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-img-small {
    visibility: visible;
    
  }
  .img-big {
    width: 48vw;
    height: 32vh;
    
  }

  .img-small{
    height: 15vh;

  }
  .info-booking {
    margin-left: 0;
  }

  /* Sección dos */
  .section-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem; /* Añadido relleno para no tocar los bordes */
    padding-bottom: 10vh;
  }
  .property {
    text-align: left;
  }
  .property-list li {
    font-size: 1.1rem;
  }
  .travel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .travel h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  .itinerary {
    padding: 0;
    width: 300px;
  }
  .itinerary-list li {
    font-size: 1.1rem;
    font-weight: 300;
    list-style-type: decimal;
    margin-left: 0;
    padding: 0;
  }
  .map {
    margin-top: 25px;
  }
  .map img {
    height: 60vh;
    width: 50vw;
  }
  .info-card-booking{
    width: 300px;
  }

 
  .container-offers {
    height: auto; 
    padding: 1rem;
  }
  .subtitle-offers{
    margin-left: 65vw;
  }


  .container-card-tour {
    margin-left: 15vw;
    margin-top: 1vh;
  }
  .img-card-tour {
    width: 300px;
    height: 300px;
  }
  .price-card-tour {
    width: 90%;
    margin-left: 5px;
  }
  .price {
    font-size: 1.2rem;
  }
  
  .container-footer{
    width: 105%;
  }
 
  .footer-columns{
   width: 100%;
  }
  .logo-footer{
    margin-top: 8vh;
    height: 10vh;
    width: 5vw;
    
  }
  .btn-back{
    margin-left: 60vw;
  }

 .btn-detail{
  padding-bottom: 10vh;
 }
}





